.card {
  height: 100%;
  cursor: pointer;
}

.title {
  font-weight: 600;
}

.metaRow {
  color: #605e5c;
}

.meta {
  color: #605e5c;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 999px;
  display: inline-block;
}
